<div *ngIf="!buttonClicked" style="text-align: center; padding: 50px;">
    <button type="button" (click)="startShow()" >Totally innocent button</button>
</div>
<div class="starWarsRipoff" *ngIf="buttonClicked">
    <p>
    Once upon a time...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    There was a beginning...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    At the beginning, we find a tale...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    That starts an unexpected journey...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    In a galaxy far far away...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    There... was a lady...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    Who... ate eggs...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    Those eggs had families...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    I digress......<br /><br /><br /><br /><br /><br /><br /><br /><br />
    Please don't hate us, Leanne...<br /><br /><br /><br /><br /><br /><br /><br /><br />
    </p>
    <iframe src="../../assets/audio/STARWARS-sfv.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
</div>
