    <!-- should probably put this in a header but fuck it-->
    <div class="logo">
        <div class="logo__top">FEED LADY EGG</div>
        <div class="logo__bot">(or else)</div>
    </div>

    <button class="reset" (click)="moar()">EGGS</button>
    <!---------------------------------------------------->
    
    <!-- HI CRUST BALL :) -->
    <div class="wrapper move-area">

        <div id="leanne">
            <div class='ball'>
                <div class='eye'></div>
            </div>
            <div class='ball'>
                <div class='eye'></div>
            </div>
            <div class="mouth droppable"></div>
        </div>
        
    </div>


    <!-- Contain the eggs -->
    <div class="eggs js-eggs">


    </div>

    <script type="text/javascript">
    </script>    

